p{
    background-color: beige;
    font-size: 20px;
    color: rgba(34, 31, 31, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
/* for laptop */
@media screen and (min-width: 769px) and (max-width:1024px){
    img{
        max-width: 100px;
        height: auto;
    }

}
/* for Tablets */
@media screen and (min-width: 481px) and (max-width:768px){
    img{
        max-width: 100%;
        height: auto;
    
}
}
/* for mobile */
@media screen and (min-width: 320px) and (max-width:480px){
    img{
        max-width 100%;
        height: auto;
    
}

}

